%h1= @user.name

= image_tag @user.avatar_img, alt: @user.name

-if @favs.count > 0
  %h2 Favourite books
  = render 'shared/book-grid', books: @favs

-if @reads.count > 0
  %h2 Is reading now
  = render 'shared/book-grid', books: @reads