%h1 All books

- @books.in_groups_of(4, false) do |group|
  .row
    - group.each do |book|
      .book.m-2
        .card
          = link_to book_path(book) do
            = image_tag "#{book.slug}-352x500.jpg", width: 160
            -# .card-img-overlay
              %p.card-title= book.title