@import 'bootstrap';

.book {
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: transparent;

  &:hover {
    border-color: #b8daff;
  }

  & img {
    width: 100%;
  
    @include media-breakpoint-up(sm) {
      width: 160px;
    }
  }
}

.book-image {
  position: relative;
  padding-top: 0.5rem;
}

.status {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0.5rem;
  font-size: 1.1rem;
}

.favourite {
  position: absolute;
  top: -0.5rem;
  left: -0.75rem;
}

.center
{
  text-align: center;
}

